body {
    display: grid;
    height: 710px;
    grid-template-areas: "head head head"
                         "nav nav nav"
                         "main main main"
                         "art art art"
                         "footer footer footer";
    grid-template-rows: 150px 50px 60px 1fr 80px;
    grid-template-columns: 1fr 1fr 1fr;
}

header {
    grid-area: head;
    background-color: aquamarine;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 140px;
}

.nav-bar {
    grid-area: nav;
    background-color: aqua;
}

main {
    grid-area: main;
    background-color: darkgreen;
    color: white;
}

.content {
    grid-area: cont;
    background-color: cornflowerblue;
}

.art {
    grid-area: art;
}

.art-1 {
    background-color: cadetblue;
}

.art-2 {
    background-color: blue;
}

.art-3 {
    background-color: cornflowerblue;
}

footer {
    grid-area: footer;
    background-color: chartreuse;
}

.logo-fot {
    width: 70px;
    height: 70px;
}
